<%= error_messages_for 'contact' %>

<div class="box"> 
  <p>
    <%= f.text_field 'first_name', :label=>"First name" -%>
  </p>
  <p>
    <%= f.text_field 'last_name', :label=>"Last name" -%>
  </p>
  <p>
    <%= f.text_field 'email', :label=>"Email" -%>
  </p>
  <p>
    <%= f.text_field 'address1', :label=>"Address 1"-%>
  </p>
  <p>
    <%= f.text_field 'address2', :label=>"Address 2"-%>
  </p>
  <p>
    <%= f.text_field 'city', :label=>"City" -%>
  </p>
  <p>
    <%= f.text_field 'state', :label=>"State" -%>
  </p>
</div>
